<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Supprimer le slash final (sauf pour la racine)
    RewriteCond %{REQUEST_URI} !^/$
    RewriteRule ^(.*)/$ $1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>